:root {
  --off-black: #212121;
  --light-grey: #BDBDBD;
  --white-red: #FFEBEE;
  --bright-red: #FF5252;
  --light-red: #E57373;
}

/* horizontally center everything in a central vertical column. */
.y-axis-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* evenly horizontally space all 1st children of each 1st child */
.space-around-rows>* {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 20px;
}

/* evenly horizontally space all 1st children of each 1st child and also add a vertical gap between 1st children. */
.space-around-spaced-rows>* {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

body {
  background: var(--light-grey);
  background-image: linear-gradient(to right, var(--light-grey), var(--white-red), var(--light-grey));
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
  color: var(--bright-red);
}

hr {
  border: 0;
  clear: both;
  display: block;
  background-color: var(--bright-red);
  height: 1px;
}

label {
  color: var(--bright-red);
}

select {
  background-color: WhiteSmoke;
  color: var(--off-black);
  font-size: 1.125em;
}

button,
input[type=submit],
input[type=reset] {
  background-color: var(--bright-red);
  color: var(--off-black);
  border-radius: 5px;
  border: 2px solid var(--light-red);
  transition-duration: 0.2s;
  cursor: pointer;
  padding: 0.5em 1.33em;
  font-weight: bold;
}

button:hover {
  background-color: var(--bright-red);
}

button.active {
  background-color: var(--bright-red);
}

.tab {
  overflow: hidden;
  border-radius: 0px;
  background-color: Gainsboro;
}

.tablinks {
  border: 1px solid black;
  cursor: pointer;
  padding: 0.25em 0.33em;
  transition: 0.3s;
  font-size: 1em;
  border-radius: 0px;
  float: left;
  outline: none;
  overflow: hidden;
}

.tabcontent {
  display: none;
  border: 1px solid var(--bright-red);
  border-radius: 5px;
  padding: 1em 5em;
}


.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}