
table,
th,
td {
    border-left: 1px solid var(--bright-red);
    border-right: 1px solid var(--bright-red);
    text-align: center;
}

table {
    display: table;
    border-collapse: collapse;
    width: 80%;
    border-bottom: 2px solid var(--bright-red);
}

thead {
  background: var(--bright-red);
}

tbody tr:nth-child(odd) {
    background: WhiteSmoke;
}

tbody tr:nth-child(even) {
    background: white;
}