.outer_select_container {
    border: 1px solid red;
    padding: 1em;
    max-width: 17%;
}

.selections_container {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
}

.selection_option {
    border-style: dashed;
    border-width: 1px;
    border-color: grey;
    background-color: var(--bright-red);
    padding: 0.5em;
    cursor: pointer;
}

.highlighted_selection {
    background-color: var(--bright-green);
}