.pub-type-select{
    width: 100%;
}
.thesis-type-select{
    width: 100%;
}
.years-select{
    width: 60%;
}
#article-month{
    width: 100%;
}

.pub-type-section{
    display: none;
}

#author-format-name-alert{
    color: red;
    margin-top: -20px;
    margin-bottom: 20px;
    display: none;
}