#publication_section{
    display: none;
}

#loading_publications{
    text-align: center;
}

#loading_publications > i{
    font-size:80px;
    color: #003C6D;
}

.fa.fa-trash-o{
    color: red;
    font-size: 17px;
}

.table-column-citation{
    width: 88% !important;
}

.table-column-rest{
    width: 6% !important;
}